<ion-view title="About" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 68px;"></div>
    <div id="about-container2">
      <h4 id="about-heading9" style="color:#000000;">About</h4>
      <div id="about-markdown9" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Farmz is a
          <strong>cool</strong> app.</p>
      </div>
    </div>
    <div id="about-container3">
      <h4 id="about-heading12" style="color:#000000;">App overview</h4>
    </div>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="about-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="about-button-bar1" class="button-bar">
      <button id="about-button8" class="button button-positive button-block">About</button>
      <button id="about-button9" class="button button-positive button-block">video</button>
      <button id="about-button10" class="button button-positive button-block">Contact</button>
    </div>
  </ion-content>
</ion-view>