<ion-view title="Dashboard" id="page7">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <ion-list id="dashboard-list11">
      <ion-item class="item-icon-left item-icon-right" id="dashboard-list-item13" ui-sref="myPlots()">
        <i class="icon ion-ios-list-outline"></i>My Tasks
        <i class="icon ion-ios-arrow-thin-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <ion-list id="dashboard-list13">
      <ion-item class="item-icon-left item-icon-right" id="dashboard-list-item11" ui-sref="myPlots()">
        <i class="icon ion-ios-barcode-outline"></i>My Plots
        <i class="icon ion-ios-arrow-thin-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <ion-list id="dashboard-list16">
      <ion-item class="item-icon-left item-icon-right" id="dashboard-list-item14" ui-sref="myPlots()">
        <i class="icon ion-ionic"></i>My Orders
        <i class="icon ion-ios-arrow-thin-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <ion-list id="dashboard-list18">
      <ion-item class="item-icon-left item-icon-right" id="dashboard-list-item12" ui-sref="myPlots()">
        <i class="icon ion-stop"></i>My Stock
        <i class="icon ion-ios-arrow-thin-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>