<ion-view title="intro" hide-nav-bar="true" id="page4" style="background-color:#94CF96;">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="intro-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="intro-slide24" style="background-color:#A0CCA3;">
        <div class="spacer" style="width: 320px; height: 55px;"></div>
        <div id="intro-container1">
          <h1 id="intro-heading2" style="color:#000000;text-align:center;">farmz</h1>
          <div id="intro-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">created by Jordan</p>
          </div>
        </div>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 320px; height: 34px;"></div>
        <h3 id="intro-heading1" style="color:#000000;text-align:center;">Welcome</h3>
        <div id="intro-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">swipe right to sign into your account</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="intro-slide27">
        <div class="spacer" style="width: 320px; height: 408px;"></div>
        <h1 id="intro-heading3" style="color:#000000;text-align:center;">Feature 1</h1>
        <div id="intro-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">cool new
            <strong>Feature</strong> and stuff</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="intro-slide29">
        <div class="spacer" style="width: 320px; height: 408px;"></div>
        <h1 id="intro-heading6" style="color:#000000;text-align:center;">Feature 2</h1>
        <div id="intro-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">cool new
            <strong>Feature</strong> and stuff</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="intro-slide210">
        <div class="spacer" style="width: 320px; height: 408px;"></div>
        <h1 id="intro-heading7" style="color:#000000;text-align:center;">Feature 3</h1>
        <div id="intro-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">cool new
            <strong>Feature</strong> and stuff</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="intro-slide28" style="background-color:#A0CCA3;">
        <div class="spacer" style="width: 320px; height: 74px;"></div>
        <div class="spacer" style="width: 320px; height: 364px;"></div>
        <h3 id="intro-heading5" style="color:#000000;text-align:center;"></h3>
        <a ui-sref="login()" id="intro-button4" style="font-weight:300;" class="button button-dark button-block">Continue to sign into your account</a>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>