<ion-view title="My Plots" id="page6">
  <ion-content padding="true" class="has-header">
    <h3 id="myPlots-heading8" style="color:#000000;">My Plots:</h3>
    <ion-list id="myPlots-list3">
      <ion-item class="item-thumbnail-left" id="myPlots-list-item6" ui-sref="plotDetails()">
        <img src="img/r4HuAN3ZRjOKelAa2wAF_if_fence-picket-garden-yard-farm-barrier-wooden_2189586.svg">
        <h2>farm plot 1</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="myPlots-list-item8" ui-sref="plotDetails()">
        <img src="img/EHsZi87SqiJByJb1f1wn_if_hothouse_2140007.svg">
        <h2>farm plot 2</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="myPlots-list-item10" ui-sref="plotDetails()">
        <img src="img/r4HuAN3ZRjOKelAa2wAF_if_fence-picket-garden-yard-farm-barrier-wooden_2189586.svg">
        <h2>farm plot 1</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="myPlots-list-item9" ui-sref="plotDetails()">
        <img src="img/r4HuAN3ZRjOKelAa2wAF_if_fence-picket-garden-yard-farm-barrier-wooden_2189586.svg">
        <h2>farm plot 1</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>