<ion-view title="Plot Details" id="page8">
  <ion-content padding="true" class="has-header">
    <h1 id="plotDetails-heading11" style="color:#000000;">Plot Name</h1>
    <ion-list id="plotDetails-list15">
      <ion-item class="item-icon-right" id="plotDetails-list-item38" ui-sref="plotLocation()">Plot locaition
        <i class="icon ion-ios-arrow-thin-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <ion-list id="plotDetails-list14">
      <ion-item class="item-thumbnail-left" id="plotDetails-list-item35">
        <img src="img/8BMivfDRZiszSWOEQYtA_if_carrot-vegetable-spring-food_2189593.svg">
        <h2>crop 1</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="plotDetails-list-item36">
        <h2>crop 2</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="plotDetails-list-item37">
        <h2>crop 3</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
  </ion-content>
</ion-view>