<ion-view title="Profile" id="page10">
  <ion-content padding="true" class="has-header">
    <h3 id="profile-heading14" style="color:#000000;">Jordan McMillan</h3>
    <div id="profile-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">I like to grow crops</p>
    </div>
    <form id="profile-form4" class="list">
      <label class="item item-input" id="profile-input8">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="profile-input9" name="Jordan">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="profile-input13" name="Jordan">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="profile-input11">
        <span class="input-label">Input</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="profile-input12">
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input" id="profile-input14">
        <span class="input-label">Address</span>
        <input type="tel" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>